In [6]:
from models import engine
from sqlalchemy import text

In [7]:
conn = engine.connect()

In [8]:
stmt = text('select * from application where application_id < 10')
ans = conn.execute(stmt)

In [9]:
results = ans.fetchall()
for row in results:
    print(row)

(1, 1303834, 23, 3, 'single', 'rented', 'no', 'Mechanical_engineer', 'Rewa', 'Madhya_Pradesh', 3, 13, 0, '2024-10-28', 'SUBMITTED')
(2, 7574516, 40, 10, 'single', 'rented', 'no', 'Software_Developer', 'Parbhani', 'Maharashtra', 9, 13, 0, '2024-10-28', 'SUBMITTED')
(3, 3991815, 66, 4, 'married', 'rented', 'no', 'Technical_writer', 'Alappuzha', 'Kerala', 4, 10, 0, '2024-10-28', 'SUBMITTED')
(4, 6256451, 41, 2, 'single', 'rented', 'yes', 'Software_Developer', 'Bhubaneswar', 'Odisha', 2, 12, 1, '2024-10-28', 'SUBMITTED')
(5, 5768871, 47, 11, 'single', 'rented', 'no', 'Civil_servant', 'Tiruchirappalli[10]', 'Tamil_Nadu', 3, 14, 1, '2024-10-28', 'SUBMITTED')
(6, 6915937, 64, 0, 'single', 'rented', 'no', 'Civil_servant', 'Jalgaon', 'Maharashtra', 0, 12, 0, '2024-10-28', 'SUBMITTED')
(7, 3954973, 58, 14, 'married', 'rented', 'no', 'Librarian', 'Tiruppur', 'Tamil_Nadu', 8, 12, 0, '2024-10-28', 'SUBMITTED')
(8, 1706172, 33, 2, 'single', 'rented', 'no', 'Economist', 'Jamnagar', 'Gujarat', 2, 14, 0, '2024-10-28', 'SUBMITTED')
(9, 7566849, 24, 17, 'single', 'rented', 'yes', 'Flight_attendant', 'Kota[6]', 'Rajasthan', 11, 11, 0, '2024-10-28', 'SUBMITTED')